<!DOCTYPE html>
<html>
<html>
	<head>
		<title>resYbar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../public/css/portal.css" />
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="js/vue.js"></script>
	</head>
	<body>
		<div id="app"> 
            <div class="grid-container">
                <div class="item1">Header</div>
                <div class="item6">logo</div>
                <div class="item2">Menu</div>                 
                <div class="item4">Right</div>
                <div class="item3">Main</div> 
                <div class="item5">Footer</div>
              </div>
        </div>
    </body>
</html>