body {background: rgba(230, 197, 176, 0.493);border:0;
    font:14px Arial, Helvetica, sans-serif;
    color:#443f3f;line-height:18px;min-width:960px}
h1,p {margin: 0 0 1em 0; }
#logo { grid-area: logo; height:60px;}
#logo > img {height:40px; width: 100px;}
#logo > h1{font-size: 1.2em;}
.text-tit { padding: 0; color:rgb(20, 10, 44); }
.item1 { grid-area: header; line-height: 0.3em; background: #929fe9; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: carrito; }
.tipos {grid-area: tipos;}
#carrito > img {background-color: black;}
.footer1 { grid-area: footer1; line-height: 0.3em; }
.footer2 { grid-area: footer2; line-height: 0.3em; }
.grid-container {
  display: grid;
  grid-template-areas:
    'logo header header header header header'
    'tipos menu menu menu menu menu'
    'tipos main main main main main'
    'tipos main main main main main'
    'carrito main main main main main'
    'footer1 footer1 footer1 footer2 footer2 footer2';
  grid-gap: 1px;
  padding: 10px;
  grid-template-rows: 80px 50px 200px 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-container > div {
  background-color: #c1c7bc;
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}
.btn{
  background: #008CBA;
  color: #FFF;
  border-radius: 12px;
  border: 2px solid #2740ce;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover {
  color: rgb(185, 228, 230);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.myDiv {
  display: flex;
  flex-direction: row;
}
.myDiv > div > label{
  margin: 5px;
  padding: 0px;
  font-size: 14px;
  box-sizing: initial;
  width:100px;
}
.myDiv > div > input{
  margin: 5px;
  padding: 0px;
  font-size: 14px;
  box-sizing: initial;
  width:500px;
}
.myDiv > div > textarea{
  margin: 5px;
  padding: 0px;
  font-size: 14px;
  box-sizing: initial;
  width:500px;
}

.izq{
  flex: 1 1 auto;
  border-style: solid;
  border-color: darkslategray;
  border-width: 2px;
  background-color: #AEBCA2;
  width: 45%;
}
  
.der{
  flex: 2 2 auto;
  border-style: solid;
  border-color: darkslategray;
  border-width: 2px;
  background-color: #AEBCA2;
  text-align: left;
  width: 45%;
}
.der h3{
  padding-left: 5px;
}
.descripcion{
  width: 45%;
}
.form{
  background: #c1c7bc;
  border-radius: 15px;
  width: 95%;
}

.tabla{
  display: grid;
  grid-gap: 1px;
  padding: 10px;
  grid-template-columns: 80px 300px 100px 100px 100px;
  grid-template-columns: 1fr 1fr;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 200%;
}
th{background: #008CBA;}

td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.imagenTit {
  max-width: 100%;
  height: auto;
  }


.gallery {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  text-align: center;
  align-items: stretch;
  }

.gallery:after {
    content: '';
    display: block;
    height: 2px;
    margin: .5em 0 1.4em;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
}

.gallery img {
    height: 100%;
}

.gallery div span {
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
}
.gallery div h5 {
    color: #000; text-align: center;
}
.gallery div h4 {
  color: #000; text-align: center; font-size: 1.6em;
}
.gallery div a {
    display: inline-block;
    overflow: hidden;
    margin: 4px 6px;
    box-shadow: 0 0 4px 1px #000;
}

.clnte{
  background: rgba(230, 197, 176, 0.493);
}

.galle{
  padding: 10px;
  flex: 30%;
  flex-grow: 1;
}

@media (max-width: 800px) {
  .gallery {
    flex-direction: column;
  }
}