<!DOCTYPE html>
<html>
	<head>
		<title>Atom VE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/modal.css" />
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="js/vue.js"></script>
	</head>
	<body>
      <div id="app"> 