<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <header id="header">                    
                    <nav id="nav">
                        <a href="empresas">LA EMPRESA</a>
                        <a href="parametros">PARAMETROS</a>
                        <a href="tipoproductos">TIPOS</a>
                        <a href="productos">PRODUCTOS</a>
                        <a href="imagenes">FOTOS</a> 
                        <a href="promociones">PROMOCIONES</a> 
                        <a href="clientes">CLIENTES</a>
                        <a href="usuarios">USUARIOS</a>
                        
                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>
